OAUTH_ENABLED=true
OAUTH_AUTHORIZE_URL=https://app.hubspot.com/oauth/authorize
OAUTH_TOKEN_URL=https://api.hubapi.com/oauth/v1/token
OAUTH_CLIENT_ID=ea922b34-15c0-44b9-aaa8-bbb35d66cc8f
OAUTH_CLIENT_SECRET=a062100c-4da4-4d55-a3b9-6d7d180e2090
OAUTH_SCOPES_AVAILABLE=crm.objects.contacts.read,crm.objects.contacts.write,crm.objects.companies.read,crm.objects.companies.write,crm.objects.deals.read,crm.objects.deals.write,tickets
OAUTH_BASE_URL=https://api.hubapi.com

DEDALUS_API_KEY=dsk-live-a1501b597bed-3c5eaed95229879512e43d612e76d706
DEDALUS_API_URL=https://api.dedaluslabs.ai
DEDALUS_AS_URL=https://as.dedaluslabs.ai